.component-emoji-result-row {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  height: 32px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: 0.1s;
}

.component-emoji-result-row:hover {
  background-color: #eee;
}

.component-emoji-result-row img {
  width: 32px;
  height: 32px;
  padding-right: 10px;
}

.component-emoji-result-row .title {
  position: relative;
  top: -8px;
}

.component-emoji-result-row .info {
  float: right;
  position: relative;
  top: 8px;
  right: 10px;
  color: #ccc;
  display: none;
}

.component-emoji-result-row:hover .info {
  display: inline-block;
}

.component-emoji-result-row:active {
  transform: scale(1.1);
}